@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --primary-color: #FFFFFF;
    --secondary-color:rgb(120, 118, 118);
    --primary-app-color:#6E68F0;
    --brand-font-style:'Pacifico', cursive;
    --secondry-font-style: 'Poppins', sans-serif;
  }
body {
    overflow: hidden;
    scroll-behavior: smooth;
}


#navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    background-color: var(--primary-color);
}

#brandlogo{
    font-family: var(--brand-font-style);
    font-size: 23px;
    padding-top: 15px;
    padding-left: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    color:    var(--primary-app-color);
}

#navbarProfileDiv{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding-right: 60px;
    padding-top: 20px;
    align-items: center;
    cursor: pointer;
}


#navbarProfile{
    width: 26px;
    height:26px;
}

#navbarProfileName{
    font-family: var(--secondry-font-style);
    font-size: 14px;
    font-weight: normal;
}





/* Loginpage styles */
.welcomeText {
    font-family: var(--secondry-font-style);
    font-weight: bold;
}
.secondaryWelcome {
    font-family:var(--secondry-font-style);
    font-size: 9px;
    color: var(--secondary-color);
}

#logMainLayer {
    height: 100vh; 
    display: flex;
    justify-content:space-around;
    align-items:center;
    position:relative;
   
}

#logLeft {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height:100%;
    position: relative;
}

#logRight {
    width: 100%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.loginLeftImg {
    width:300px;
    height: 300px;
    position: absolute;
    margin-bottom: 140px;

}

.logSignCard{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    height:500px;
    width:500px;
    position: relative;
    
}
.logSignFirstCard{
    display: flex;
    flex-direction:column;
    gap: 10px;
    align-items:center;
    width: 100%;
    height: 50%;

}

.logSignFormDiv{
    display: flex; 
    flex-direction:column;
    align-items: center;
    width: 100%;
    height: 35%;
    position: absolute;
    top: 70px;

}

.logSignFormDiv > *{
    width: 50%; 
    box-sizing: border-box;
}

.logSignFormDiv label {
    font-family: var(--secondry-font-style);
    font-size: 9px;
    color: rgb(71, 70, 70);
    margin-top: 30px;
}
.logSignFormDiv input{
    border: none;
    outline: none;
    margin-top: 15px;
    border-bottom: 1.6px solid rgb(197, 196, 196);
    padding-bottom: 4px;
}

.passwordField {
    position:relative;
  
}
.passwordField input {
    position:absolute;
    width: 100%;

}

.passwordEyeIcon {
    position:absolute;
    right: 15px;
    bottom: -30px;
}

.logSignBtnDiv{
    position: absolute;
    bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.logSignBtnDiv p {
    font-family: var(--secondry-font-style);
    font-size: 9px;
    color:  var( --secondary-color);
    margin-top: 10px;
    word-spacing: 1px;
}

.btn-log {
    width:250px;
    height: 40px;
    border: none;
    border-radius:15px;
    background-color: black;
    color: white;
}

/* signup */
.signBtnDiv{
    position: absolute;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.signBtnDiv p {
    font-family:var(--secondry-font-style);
    font-size: 9px;
    color:  var( --secondary-color);
    margin-top: 10px;
    word-spacing: 1px;
}

/*  home  */

.dropdown-menu{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow:0px 10px 17px rgb(215, 214, 214);
    padding: 10px 20px;
    width: 170px;
    z-index: 1;
}

.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: #ffffff;
    transform: rotate(45deg);
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition:500ms ease;
  }

  .dropdown-menu ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  .dropdown-menu ul li:hover a{
    color: rgb(50, 48, 48);
    cursor: pointer;
  }

  .dropdown-menu ul li:hover .dropdown-icon{
    opacity: 1;
    cursor: pointer;
  }

  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdown-icon{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 500ms;
    color: rgb(90, 88, 88);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    color: #5e5c5c;
    font-size: 15px;
    transition: 500ms;
  }
/* Profile page*/


#profileMain{
    background: rgb(238, 238, 238);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
       padding: 20px;
}

#profileDiv{
    background:rgb(255, 255, 255);
    display: grid;
    width:80rem;
    height: 38rem;
    grid-template-columns: 1fr 4fr;
    
 
}
.left_profile_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px ;
  box-shadow: 10px 0 10px -2px #eeeeee;
  border-radius: 0px 20px 0px 0px;
}

/* .left_profile_div::after{
content: " ";

width:1px;
height:100%;

background-color: #6E68F0;

} */
.profile_header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items:center;
    
}
.profile_header h3{
    font-family: var(--secondry-font-style);
}
.profile_type{
    display: flex;
    height: 20px;
    width: 100%;
    align-items: center;
}
.profile_type p {
    font-family: var(--secondry-font-style);
    font-size:14px;
    color: var(--secondary-color);
}

.right_profile_div{
    display:grid;
    grid-template-rows: 1fr 4fr;
    padding-left: 40px;
}

.upper_right_ptofile{
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding-top:20px;
}
.update-btn-card h3 {
    font-family: var(--secondry-font-style);
    font-size: 1rem;
}
.update-btn-card p {
    font-family: var(--secondry-font-style);
    font-size: 0.7rem;
    color: var( --secondary-color);
}

.update-btn-div button{
    height: 30px;
    width: 70px;
    border:none;
    border-radius:7px;
    cursor: pointer;
    color: white;
    font-family: var(--secondry-font-style);
    background:var( --primary-app-color);
}

.profile_upload_div{
    display: inline;
    position: relative;
    cursor: pointer;
}

.profile_upload_div img{
    height:170px;
    width:150px;
}
.profile_edit_icon{
    position: absolute;
    font-size:22px;
    opacity:-1px;
    color: rgb(225, 225, 225);
    bottom:10px;
    right: 60px;
}
.profile_edit_icon:hover{
    color:rgb(146, 146, 146);
}

.profile_image{
 
    border-radius: 100px;
}
