.main{
    min-height:100vh;
    display: grid;

}
.main.active{
    grid-template-columns: 1fr 10fr;
    transition: 600ms;
}
.main.inactive{
    grid-template-columns: 1fr 20fr;
    transition: 600ms;
}

.sidebar_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 2rem;
    background-color:var(--primary-color);
    border-right: 1px solid #f5f5f5;
}

.sidebar_main_item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.sidebar_main_item h6{
    font-family:  var(--secondry-font-style);
     font-size:0.8rem;  
    font-weight: normal;
 }

.sidebar_btn{
    position: absolute;
    width: 1.5rem;
    height:1.5rem;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    right: -12px;
    cursor: pointer;
    border: 1px solid rgb(189, 189, 189);
    background-color: var(--primary-color);
}

.sidebar_icon{
    font-size: 1.4rem;
}

.main_content{
    display: grid;
    grid-template-columns: 3fr 4fr;
}
/* .left_Main{
    background-color: antiquewhite;
} */

.right_Main{
    display: grid;
    grid-template-rows: 1fr 1fr;
   
}

.doctor_list_container_1{
    display: flex;
    justify-content:center;
    align-items:center;
    scrollbar-width: none;
    transition: 600ms;
    gap: 15px;

  
}

.card_slider_icon{
    cursor: pointer;
}

#card_slider{
    width: 600px;
    height: 300px;
    display: flex;
    gap: 20px;
    align-items:center;
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 10px;
    padding-right: 10px;
    scroll-behavior: smooth;
}
#card_slider::-webkit-scrollbar{
    display: none;
}

.card_slider_item{
    display:inline-block;
}



/* .doctor_list_container_1::before{
    content: "";
  position:absolute;
  margin:-20px;
  width:40px;
  height:40px;
  transform:rotate(45deg);
  background-color:#000; 
} */

/* 
.doctor_list_container_1{
    background-color:antiquewhite;
} */
/* .doctor_list_container_2{
    background-color:green;
} */




