#doctorcard_main{
    background-color:rgb(255, 255, 255);
    max-width: 200px;
    height: 200px;
    display: grid;
    grid-template-rows: 3fr 5fr 1.3fr;
    /* border: 1px solid rgb(215, 214, 214); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* #38c6e6 */
    border-radius: 20px;
}

#doctorcard_main button{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-family: var(--secondry-font-style);
    font-size: 0.8rem;
 
    cursor: pointer;

}


.doctorcardProfile_sec{
    display: flex;
    justify-content:space-around;
    align-items:center;
   
}
.details_sec{
    border-top: 1px solid rgb(225, 225, 225);
}

.doctorcardProfile_sec p {
    font-family: var(--secondry-font-style);
    font-size:0.9rem;
    color:#62A2E2;
}
.profileCard_Icon{
   font-size:30px;
}

.details_sec{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:10px;
    align-items:flex-start;
}
.details_item{
    display: flex;
    gap: 10px;
    align-items:center;
    overflow-wrap: break-word;
}

.details_item p{
    font-family: var(--secondry-font-style);
    font-size:0.6rem;
    color:var( --secondary-color);
}